@import "../mixins/mixins.scss";

/* Слайдер */
.slick-slider {
  outline: none;
}
/* Слайдер запущен */
.slick-slider.slick-initialized {
}
/* Слайдер с точками */
.slick-slider.slick-dotted {
}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track {
  display: flex;
}
/* Слайд */
.slick-slide {
}
/* Слайд активный (показывается) */
.slick-slide.slick-active {
}
/* Слайд основной */
.slick-slide.slick-current {
}
/* Слайд по центру */
.slick-slide.slick-center {
}
/* Клонированный слайд */
.slick-slide.slick-cloned {
}
/* Стрелка */
.slick-arrow {
}
/* Стрелка влево */
.slick-arrow.slick-prev {
  left: 41%;
  border: none;
  background: none;
  background-image: url("../images/slider/left.png");
  background-repeat: no-repeat;
  outline: none;

  &:hover {
    cursor: pointer;
  }
}
/* Стрелка вправо */
.slider .slick-arrow.slick-next {
  right: 40%;
  border: none;
  background: none;
  background-image: url("../images/slider/Фигура\ 11.png");
  background-repeat: no-repeat;
  outline: none;

  &:hover {
    cursor: pointer;
  }
}
/* Стрелка не активная */
.slick-arrow.slick-disabled {
}
/* Точки (булиты) */
.slick-dots {
}
.slick-dots li {
}
/* Активная точка */
.slick-dots li.slick-active {
}
/* Элемент точки */
.slick-dots li button {
}

.slider {
  position: relative;
  width: 100%;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text {
    font-family: "PFEncoreSansPro-Light";
    font-size: 16px;
    max-width: 194px;
    line-height: 23px;
  }

  &__img {
    img {
      width: 161px;
      height: 185px;
    }
  }

  &__info {
  }

  &__name {
    @include name();
  }

  &__post {
    font-family: "PFEncoreSansPro-Light";
    font-size: 15px;
  }
}

.slider .slick-arrow {
  width: 33px;
  height: 33px;
  position: absolute;
  bottom: -110px;
  z-index: 10;
  font-size: 0;
  outline: none;
}
